h1 {
    color: #025157;
}

p {
    color: #46484c;
}

p b {
    color: #8b8b8bcc;
}

form button {
    color: #fff;
    background-color: #025157;
}

body {
    background-color: #fffbf7;
}

* { /* El selector (*) selecciona todos los elementos del HTML*/
    box-sizing: border-box; 
    /* box-sizing determina que propiedades se van a utilizar para calcular el tamaño de la caja */
    /* border-box indica que si ponemos un width de 100px para la caja, y agregamos 10px de padding a cada lado, y 5px de margin a cada lado, estos se van a restar del width de 100px y nuestro contenido va a quedar reducido a 70px */
    margin: 0;
    padding: 0;
}